@mixin horizontal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 5rem repeat(4, 1fr);
  overflow: auto;

  li {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  li + li{
    padding: 1rem;
  }
}

@mixin no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
