$themes: (
  light: (
    backgroundColor: #ddd,
    textColor: #333,
    buttonTextColor: #333,
    buttonTextHoverColor: #555,
    buttonColor: #ccc,
    buttonBorder: 1px solid #333,
    navbarBackground: #ccc,
    navbarHover: #bbb,
  ),
  dark: (
    backgroundColor: #333,
    textColor: #ddd,
    buttonTextColor: #ddd,
    buttonTextHoverColor: #bbb,
    buttonColor: #444,
    buttonBorder: 1px solid #ddd,
    navbarBackground: #444,
    navbarHover: #555,
  ),
  dracula: (
    backgroundColor:#282a36,
    textColor: #f8f8f2,
    buttonTextColor: #ddd,
    buttonTextHoverColor: #bbb,
    buttonColor: #6272a4,
    buttonBorder: 1px solid #ddd,
    navbarBackground:#44475a,
    navbarHover: #34374a,
  ),
  tomorrowNight: (
    backgroundColor:#1d1f21,
    textColor: #c5c8c6,
    buttonTextColor: #ddd,
    buttonTextHoverColor: #bbb,
    buttonColor: #969896,
    buttonBorder: 1px solid #ddd,
    navbarBackground:#373b41,
    navbarHover: #282a2e,
  ),
  tomorrow: (
    backgroundColor:#ffffff,
    textColor: #4d4d4c,
    buttonTextColor: #ddd,
    buttonTextHoverColor: #bbb,
    buttonColor: #8e908c,
    buttonBorder: 1px solid #ddd,
    navbarBackground:#efefef,
    navbarHover: #d6d6d6,
  ),
);
