.blog-preview {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .stacks {
    font-size: 1rem;
    font-family: monospace;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .tags-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    gap: 0.5rem;

    .tag {
      background-color: rgba(127, 127, 127, 0.5);
      font-size: 0.8rem;
      text-align: center;
      cursor: default;

      &:hover {
        background-color: rgba(127, 127, 127, 0.2);
      }
    }
  }
}
