.blog-post {
  padding: 0 5% 2% 5%;

  .title {
    text-align: center;
  }

  .date {
    text-align: right;
    font-size: 1rem;
  }

  .markdown {
    img {
      max-width: 90%;
    }

    h1 {
      padding: 1rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      text-align: center;
      border-bottom: 0.2rem solid rgba(0, 0, 0, 0.5);
    }


    h2 {
      padding: 0.5rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
      text-align: center;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
    }

    h3 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    blockquote {
      margin: 5%;
      padding: 0.5rem;
      background-color: rgba($color: #aaa, $alpha: 0.2);
      border-left: 0.5rem solid rgba($color: #aaa, $alpha: 0.5);
    }
  }
}