.certificate-tile {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
