@import '../assets/scss/theme.scss';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system;

  main {
    padding-top: 5rem;
  }

  .theme-picker {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
}
